body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #535357;
    color: #3a3535;
}
.container {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    background: #fff;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.header {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Poppins', sans-serif; /* Fuente personalizada */
    background-color: #c1f1f1;
    border-radius: 10px;

}
.header img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
    border: 5px solid #5d0000;
}
.header h1 {
    margin: 0;
    font-size: 2em;
    color: #333;
}
.header p {
    margin: 0;
    color: #777;
}
section {
    margin-bottom: 20px;
}
section h2 {
    border-bottom: 2px solid #333;
    padding-bottom: 5px;
    margin-bottom: 10px;
    font-size: 1.5em;
}
ul {
    list-style: none;
    padding: 0;
}
ul li {
    margin-bottom: 10px;
}
